@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    color: #3e4455;
}

p {
    color: #3e4455;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.resume {
    width: 100%;
    margin-top: 5rem;
}

.tab-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0 30px;
    background-color: #d5d5d5;
    font-size: 1.1rem;
    border-radius: 5px;
    line-height: 40px;
    color: #000;
    cursor: pointer;
    border: 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    transition: .4s;
}

.btn:not(:last-child) {
    margin-right: 15px;
}

.btn:hover,
.btn.active {
    background-color: #4d63dd;
    color: #FFF;
}

/* ========== Style For Tab ========== */

.tab {
    display: none;
    margin: 20px 0;
}

.tab.active {
    display: block;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}